<div class="dockedHeader">
    <h1>La Spa De Vita</h1>
</div>
<section class="headerSection">
    <div class="header hidden-xs">
        <img class="logoImg" src="app/images/logo.png" alt="logo" height="75px" width="260px">
        <div class="inpLabel">
            <label for="" class="">Find an Appointment: </label>
            <input type="text" name="" id="" placeholder="Massage in Lytle, TX">
        </div>
    </div>
    <div class="headerTablet hidden-sm hidden-md hidden-lg">
        <img class="logoImg" src="app/images/logo.png" alt="logo" height="35px" width="100px">
        <img src="app/images/menu.png" alt="" class="menu" height="35px" width: "40px;" style="float:right; cursor:pointer;">
        <ul class="ulTablet">
            <li><a href="">BROWSE BUSINESSES</a></li>
            <li><a href="">HOW IT WORKS</a> </li>
            <li><a href="">FOR BUSINESS OWNERS</a> </li>
            <li><a href="">SIGN IN / REGISTER</a> </li>
        </ul>
    </div>
</section>
<nav>
    <ul>
        <li><a href="">BROWSE BUSINESSES</a></li>
        <li><a href="">HOW IT WORKS</a></li>
        <li class="login" ng-click="showLoginPopUp()">
            <span class="signin">Sign In</span>
            <span>/</span>
            <span class="register">Register</span>
            <div class="loginPopUp" ng-if="showLogin">
                <div class="dialog" ng-include="'app/views/loginModal.html'"></div>
            </div>
        </li>
    </ul>
</nav>
<hr class="hrTablet visible-xs">
<section class="textImgSection">
    <div class="textContainer">
        <div class="services">
            <span><a href="">LYTLE, TX</a></span>
            <span>/</span>
            <span><a href="">HEALTH & BEAUTY</a></span>
            <span>/</span>
            <span><a href="">MASSAGE THERAPY</a></span>
        </div>
        <div class="brandname">La Spa De Vita</div>
        <div class="rating">
            <span>Favourited By 11 people</span>
            <span>Add to Favourites</span>
        </div>
    </div>
    <div class="imgContainer">
        <ul>
            <li><img src="app/images/img1.jpg" width="328px" height="218px;" alt=""></li>
            <li><img src="app/images/img2.jpg" width="328px" height="218px;" alt=""></li>
            <li><img src="app/images/img3.jpg" width="328px" height="218px;" alt=""></li>
        </ul>
        <a href="javascript:void(0)" class="left-arrow">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="javascript:void(0)" class="right-arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<section class="content-container">
    <div class="wrapperDiv">
        <section class="leftContent">
            <div class="nextSteps">
                <span>PICK A SERVICE</span>
                <span>PICK A TIME</span>
                <span>COMPLETE BOOKING</span>
            </div>
            <div class="options">
                <div class="itemWrapper" item-container data-type="Body Wraps" data-services="1"></div>
                <div class="itemWrapper" data-type="Massage" data-services="2" item-container></div>
                <div class="itemWrapper" data-type="Facial" data-services="1" item-container></div>
                <div class="itemWrapper" data-type="Eyelash Extensions" data-services="1" item-container></div>
                <div class="itemWrapper" data-type="Makeup Applications" data-services="1" item-container></div>
                <div class="itemWrapper" data-type="Manicure" data-services="1" item-container></div>
                <div class="itemWrapper" data-type="Pedicure" data-services="1" item-container></div>
                <div class="itemWrapper" data-type="Waxing" data-services="1" item-container></div>
            </div>
        </section>
        <article class="rightContent">
            <div class="fixedPos">
                <div class="button">
                    <a href="">Book Instantly</a>
                </div>
                <hr>
                <div class="sharengift">
                    <div class="share"><a href="">SHARE</a></div>
                    <div class="gift"><a href="">GIVE AS GIFT</a></div>
                </div>
                <hr>
                <div class="msg">
                    <span class="iconMsg"></span>
                    <a class="message">Message this business</a>
                </div>
            </div>
            <hr>
            <div class="address">
                <div class="map">
                </div>
                <div class="location">
                    <span>15211 Adams St,</span>
                    <br>
                    <span>Lytle, TX 78052</span>
                </div>
                <hr>
            </div>
            <div class="info">
                <a class="phone">Phone Number</a>
                <a class="website">Business Website</a>
                <a class="empty"></a>
            </div>
            <hr>
            <div class="timings">
                <p>Business Hours:</p>
                <p>Tue 12:00pm – 6:00pm</p>
                <p>Wed 12:00pm – 6:00pm</p>
                <p>Thu 12:00pm – 6:00pm</p>
                <p>Fri 12:00pm – 6:00pm</p>
                <p>Sat 12:00pm – 6:00pm</p>
            </div>
        </article>
        <section class="textContent">
            <div class="about-company">
                <div>
                    <h3 style="margin-bottom: 15px;">
About La Spa De Vita
</h3>
                    <div class="description">
                        <p>Here at La Spa De Vita we pride ourselves on delivering upscale spa treatments and services for your individual needs. We invite you to come relax, unwind, and enjoy our unique tranquil day spa setting. We are located in downtown Lytle's Historic District off of Adams Street.
                            <br>We work with different lines of 100% organic products that deliver results you can see and feel.</p>
                    </div>
                    <h4 style="margin-bottom: 10px;">What differentiates us</h4>
                    <div>
                        <p>It's essential to take care of your body, health, and skin, to maintain your beauty. We're a health spa that caters to each client's unique style and personality.
                            <br>Our array of heath and skin services will leave you feeling refreshed. Treat yourself to a luxurious experience; you deserve it! Our tranquil spa will make your stress fade away.
                            <br>Our first-class services include the most advanced heath and skin management techniques.
                        </p>
                    </div>
                    <h4 style="margin-bottom: 10px;">Why we love what we do</h4>
                    <div>
                        <p>We are proud to provide a variety of luxury services to help keep your face, skin, and body healthy and looking great.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews">
            <h3 class="myTimeReviews">MyTime Reviews (1)</h3>
            <div class="verifiedReviews"></div>
            <div>Christine A. | Facial | about 1 month ago</div>
            <div>Excellent--very relaxing too</div>
        </section>
    </div>
</section>
<footer>
    <div class="footer-content">
        <div class="logo hidden-sm hidden-xs"></div>
        <div class="footer-right">
            <div style="float:right">
                <span class="">
<a href="javascript:void(0)" class="">Chat with us</a>
</span>
                <span class="link_divider hidden-sm"> ·</span>
                <div class="visible-sm" style="height: 10px;">&nbsp;</div>
                <span style="font-size: 13px;">Call us: 1-888-423-1944</span>
            </div>
        </div>
        <div class="links">
            <div style="font-size: 13px;display: inline-block;line-height: 30px;">
                <a href="">About</a>
                <span>Browse</span>
                <span> ·</span>
                <a href="">For Businesses</a>
                <span> ·</span>
                <a>Blog</a>
                <span> ·</span>
                <a>FAQs</a>
                <span> ·</span>
                <a>Terms</a>
                <span> ·</span>
                <a>Privacy</a>
                <span> ·</span>
                <a>Jobs</a>
                <span> ·</span>
                <a>Contact</a>
                <br class="hidden-xs">
                <span class="link_divider hidden-lg hidden-md hidden-sm"> ·</span>
                <a href="javascript:void(0)">
                    <span>iPhone App</span>
                </a> <a href="/iphone" class="hidden-lg hidden-md hidden-sm">iPhone App</a>
                <span class="link_divider hidden-lg hidden-md hidden-sm"> ·</span>
                <span class="link_divider hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="/android" class="iphone-footer">
                    <span>Android App</span>
                </a>
                <span class="link_divider hidden-lg hidden-md hidden-sm"> ·</span>
                <span class="link_divider hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>
© 2016 Melian Labs, Inc.
</span>
            </div>
        </div>
    </div>
</footer>
