<div class="listContainer">
    <div class="dealName">
        <span class="arrow"></span>
        <span class="deal">{{type}}</span>
        <span class="numberOfServices">{{services}} Services</span>
    </div>
    <div class="listDetail">
        <div class="staff">
            <label for="select">Staff Member: </label>
            <select name="" id="">
                <option value="anyone">Anyone</option>
                <option value="staff">Staff</option>
            </select>
        </div>
        <div class="itemInDeals">
            <span class="roundArrow"></span>
            <span class="itemTxt">Inch Loss Body Wrap</span>
            <div class="floatRight">
                <span class="price">$55</span>
                <span class="bookItem">Book</span>
            </div>
        </div>
    </div>
</div>
