
    <span style="cursor:pointer;" class="close" href="">X</span>

<form action="">
    <div class="form-field">
        <label for="">Email</label>
        <input type="email" name="email" id="emailId" ng-model="user.email">
    </div>
    <br>
    <div class="form-field">
        <label for="">Password</label>
        <input type="password" name="password" id="password" ng-model="user.password">
    </div>
    <div class="remember">
        <input type="checkbox" name="" id="">
        <span>Keep me signed in</span>
        <input type="button" class="btn" name="" id="" value="Sign in">
    </div>

    <hr>

    <div class="forgotpassword">
        <a href="" class="fp">Forgot Password</a>
        <input type="button" class="btn" name="" id="" value="Create Account">
    </div>
</form>
